@font-face {
  font-family: "Gmarket";
  src: local("GmarketSansTTFMedium");
  font-style: normal;
  src: url("../fonts/GmarketSansTTFMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Gmarket_Light";
  src: local("GmarketSansTTFLight");
  font-style: normal;
  src: url("../fonts/GmarketSansTTFLight.ttf") format("truetype");
}
